<!--=============== HEADER ===============-->
<header class="profile container">
  <!-- boton cambio de modo -->
  <i class="ri-moon-line change-theme" id="theme-button"></i>

  <div class="profile__container grid">
    <div class="profile__data">
      <div class="profile__border">
        <div class="profile__perfil">
          <!-- Imagen de tamaño para el perfil del porfolio -->
          <img [src]="miPorfolio.perfil" alt="foto de perfil">
        </div>
      </div>

      <h2 class="profile__name">{{miPorfolio.nombre}}</h2>
      <h3 class="profile__profession">{{miPorfolio.position}}</h3>

      <ul class="profile__social">
        <a href={{miPorfolio.linkedin}} target="_blank" class="profile__social-link">
          <i class="ri-linkedin-box-line"></i>
        </a>
        <a href={{miPorfolio.gitHub}} target="_blank" class="profile__social-link">
          <i class="ri-github-line"></i>
        </a>
      </ul>
    </div>

    <app-sobre-mi></app-sobre-mi>

    <div class="profile__buttons">
      <!-- Mi CV -->
      <a download="" href={{miPorfolio.curriculum}} target="_BLANK" class="button">
        Descargar CV <i class="ri-download-line"></i>
      </a>

      <div class="profile__buttons-small">
        <!-- mi numero de whatsapp -->
        <a href={{miPorfolio.whatsApp}} target="_blank"
          class="button button__small button__gray">
          <i class="ri-whatsapp-line"></i>
        </a>
        <!-- mensaje directo a redes sociales (facebook) -->
        <a href={{miPorfolio.messenger}} target="_blank" class="button button__small button__gray">
          <i class="ri-messenger-line"></i>
        </a>
      </div>
    </div>
  </div>
</header>
