<div class="skills__content grid" data-content id="skills">
  <div class="skills__area">
    <h3 class="skills__title">Tecnologias Front-End</h3>

    <div class="skills__box">
      <div class="skills__group">
        <div class="skills__data" *ngFor="let skill of misFrontEnd; let inpar = odd; ">
          <i class="ri-checkbox-circle-line" *ngIf="!inpar"></i>

          <div>
            <h3 class="skills__name" *ngIf="!inpar">{{skill.nombre}}</h3>
            <span class="skills__level" *ngIf="!inpar">{{skill.nivel}}</span>
          </div>
        </div>
      </div>
      <div class="skills__group">
        <div class="skills__data" *ngFor="let skill of misFrontEnd; let inpar = odd; ">
          <i class="ri-checkbox-circle-line" *ngIf="inpar"></i>

          <div>
            <h3 class="skills__name" *ngIf="inpar">{{skill.nombre}}</h3>
            <span class="skills__level" *ngIf="inpar">{{skill.nivel}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="skills__area">
    <h3 class="skills__title">Tecnologias Back-End</h3>

    <div class="skills__box">
      <div class="skills__group">
        <div class="skills__data" *ngFor="let backEnd of misBackEnd; let inpar = odd;">
          <i class="ri-checkbox-circle-line" *ngIf="!inpar"></i>

          <div>
            <h3 class="skills__name" *ngIf="!inpar">{{backEnd.nombre}}</h3>
            <span class="skills__level" *ngIf="!inpar">{{backEnd.nivel}}</span>
          </div>
        </div>
      </div>

      <div class="skills__group">
        <div class="skills__data" *ngFor="let backEnd of misBackEnd; let inpar = odd;">
          <i class="ri-checkbox-circle-line" *ngIf="inpar"></i>

          <div>
            <h3 class="skills__name" *ngIf="inpar">{{backEnd.nombre}}</h3>
            <span class="skills__level" *ngIf="inpar">{{backEnd.nivel}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
