<!--=============== MAIN ===============-->

<main class="main">
  <section class="filters container">
    <!--=============== FILTERS TABS ===============-->
    <ul class="filters__content">

      <a href="/" class="filters__button filter-tab-active" data-target="#skills" >Proyectos</a>

      <a href="/skills" class="filters__button" data-target="#skills" >Skills</a>


    </ul>

  </section>

</main>

<main class="main">
  <section class="filters container">
    <!--=============== FILTERS TABS ===============-->


    <div class="filters__sections">
      <!--=============== TRABAJOS ===============-->
      <app-trabajos></app-trabajos>

      <!--=============== Poner aca SKILLS ===============-->


    </div>

  </section>


</main>
